@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-8 offset-2">
        <div class="card">
            <div class="card-header">
                <h1>Assessmenet: TIMER</h1>
            </div>
            <div class="card-body">
                <div class="box">
                    <div id="disp">Timer</div>
                    <div id="digital">00:00:00</div>
                    <form id="timerForm" action="#">
                        <input type="number" id="hour" placeholder="HOUR" autocomplete="off" />
                        <input type="number" id="minute" placeholder="MINUTE" autocomplete="off" />
                        <input type="number" id="second" placeholder="SECOND" autocomplete="off" />
                    </form>
                    <div class="btn">
                        <button id="start">START</button>
                        <button id="stop">STOP</button>
                        <button id="reset">RESET</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/custom.js"></script>