@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stylish Image Gallery</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1>Welcome to Our Image Gallery</h1>
    </header>
    <main>
        <div id="box" class="container">
            <section id="fimage">
            </section>
            <h2>Image Selection</h2>
            <section id="image" class="bimg">
                <div class="img" id="img1">
                    <img src="images/img1.jpg" alt="Image 1">
                </div>
                <div class="img" id="img2">
                    <img src="~/images/img2.jpg" alt="Image 2">
                </div>
                <div class="img" id="img3">
                    <img src="~/images/img3.jpg" alt="Image 3">
                </div>
                <div class="img" id="img4">
                    <img src="~/images/img4.jpg" alt="Image 4">
                </div>
                <div class="img" id="img5">
                    <img src="~/images/img5.jpg" alt="Image 5">
                </div>
                <div class="img" id="img6">
                    <img src="~/images/img6.jpg" alt="Image 2">
                </div>
                <div class="img" id="img7">
                    <img src="~/images/img7.jpg" alt="Image 3">
                </div>
                <div class="img" id="img8">
                    <img src="~/images/img8.jpg" alt="Image 4">
                </div>
            </section>
        </div>
    </main>

</body>
</html>

