@{
    ViewData["Title"] = "Home Page";
}
<div>
    <button type="button" class="btn-sm btn-primary" id="start" >START</button>
    <button type="button" class="btn-sm btn-danger" id="stop" >STOP</button>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<script src="~/js/custom.js"></script>