@{
    ViewData["Title"] = "Home Page";
}
<button class="btn-sm btn-primary" id="start">START</button>
<button class="btn-sm btn-danger" id="stop">STOP</button>

<div class="bubble"></div>

<div class="bubble"></div>

<div class="bubble"></div>

<div class="bubble"></div>

<div class="bubble"></div>

<div class="bubble"></div>

<div class="bubble"></div>

<div class="bubble"></div>

<div class="bubble"></div>

<div class="bubble"></div>
<script src="~/js/custom.js"></script>