html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

i.fa.fa-trash{
    color:red;
}

i.fa.fa-edit{
    color:blue;
}

.action-button {
    margin-right: 10px; /* Adjust the margin as needed for your desired spacing */
}