
<div class="card">
    <div class="card-header text-center">
        <h1>Percentage Calculator</h1>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label>Subject 1</label>
                <input type="number" id="S1" class="mark" />
            </div>
            <div class="form-group">
                <label>Subject 2</label>
                <input type="number" id="S2" class="mark" />
            </div>
            <div class="form-group">
                <label>Subject 3</label>
                <input type="number" id="S3" class="mark" />
            </div>
            <div class="form-group">
                <label>Subject 4</label>
                <input type="number" id="S4" class="mark" />
            </div>
            <div class="form-group">
                <label>Subject 5</label>
                <input type="number" id="S5" class="mark" />
            </div>
            <input class="btn btn-primary mb-2" value=Calculate type="button" id="btnSubmit"/>
            <p id="info"></p>
        </form>
    </div>
</div>